{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet" href="static/css/booking.css">
    <script async src="static/js/booking.js"></script>
<ul class="breadcrumb">
    <li class="active"><a href="/home">Home</a></li>
    <li class="active"><a href="/medicalDomain">choose</a></li>
    <li class="active"><a href="/dent">dentistry</a></li>
    <li class="active"><a href="/symps">Physician</a></li>
    <li class="active"><a href="/questions">Symptoms</a></li>
    <li class="active"><a href="/diagnosis">Result</a></li>
    <li class="active"><a href="/booking">Booking</a></li>
</ul>












{% endblock content %}
